node_modules
npm-debug.log
build
.dockerignore
Dockerfile
.git
.github
.gitignore
README.md
docker-compose.yml
dist
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
coverage
.idea
.vscode